.bg-pattern {
  background-color: #e5e5f7;
  opacity: 0.2;
  background-image: radial-gradient(circle at center center, #afd7ff, #e5e5f7),
    repeating-radial-gradient(
      circle at center center,
      #afd7ff,
      #afd7ff,
      40px,
      transparent 80px,
      transparent 40px
    );
  background-blend-mode: multiply;
}
