@import url(https://fonts.googleapis.com/css?family=Inter:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);
@import "tailwindcss";
@import "react-loading-skeleton/dist/skeleton.css";

@theme {
  --font-inter: "Inter", sans-serif;
  --color-primary: #003366;
  --color-primary-hover: #003b75;
  --color-primary-light: rgb(230, 242, 255);
}

body {
  font-family: var(--font-inter);
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

#root {
  min-height: 100svh;
}
